<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richardallison.foodtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewFoodDatabaseActivity"
            android:label="@string/food_database"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.CreateFoodActivity"
            android:label="@string/create_food"
            android:parentActivityName=".activities.ViewFoodDatabaseActivity" />
        <activity
            android:name=".activities.ViewAllRecordsActivity"
            android:label="@string/user_records"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.CreateRecordActivity"
            android:label="@string/new_record"
            android:parentActivityName=".activities.ViewAllRecordsActivity" />
        <activity
            android:name=".activities.ViewRecordActivity"
            android:label="@string/view_record"
            android:parentActivityName=".activities.ViewAllRecordsActivity" />
        <activity android:name=".activities.ViewAllRecordsByDateActivity" />
        <!--<provider-->
            <!--android:name=".data.FoodTrackerProvider"-->
            <!--android:authorities="com.richardallison.foodtracker"-->
            <!--android:exported="false" />-->
    </application>

</manifest>